<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="style/bootstrap.min.css">
	<link rel="stylesheet" href="style/css.css">
	<script src="js/jquery-1.8.3.min.js"></script>
	<script src="js/angular.min.js"></script>
</head>
<body ng-app="myApp">
<div class="container" ng-controller="formCtrl" style="margin-top: 200px;">
     <form class="form-horizontal" name="myForm" novalidate>
	     <div class="form-group">
	     	<label class="col-sm-4 control-label">用户名：</label>
	     	<div class="col-sm-4">
	     		<input type="text" class="form-control" name="name" ng-model="user.name" required>
	     		<span ng-show="myForm.name.$error.required">用户名是必须的。</span>
	     	</div>
	     </div>
	     <div class="form-group">
	     	<label for="" class="col-sm-4 control-label">邮箱：</label>
	     	<div class="col-sm-4">
	     		<input type="email" class="form-control" name="email" 
	     		ng-model="user.email" 
	     		ng-change="change()"
	     		ng-pattern="" 
	     		required>
	     		<span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
	     		<span ng-show="myForm.email.$error.$invalid">邮箱是必须的。</span>
	     	</div>
	     </div>
	     <div class="form-group">
	     	<label class="col-sm-4 control-label">密码：</label>
	     	<div class="col-sm-4">
	     		<input type="password" class="form-control" name=pwd ng-model="user.pwd" required>
	     	</div>	
	     </div>
	     <div class="form-group">
	     	<div class="col-sm-4 col-sm-offset-4">
	     		<button type="submit" class="btn btn-success" ng-click="add()">提交</button>
	     	</div>
	     </div>
     </form>	
</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope, $http) {
	$scope.user = {
		name: "",
		email: "",
		pwd: ""
	}
	$scope.add = function() {
		$http({
			method: "post",
			url: "http://localhost/demo2/index.php/home/user/add",
			data: {
				name: $scope.user.name,
				email: $scope.user.email,
				pwd: $scope.user.pwd,
			}
		})
	}
});
</script>
</body>
</html>