.success_msg{
	position: fixed;
	top: 50%;
	left:50%;
	margin-top: -25px;
	margin-left: -100px;
	background: #95d144;
	color: #fff;
	height: 50px;
	width: 200px;
	line-height: 50px;
	border-radius: 15px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.3)
}
#sub{
	width: 100%
}